@font-face {
    font-family: PIxel-head;
    src: url(/font/PixelGrunge.ttf);
}
@font-face {
    font-family: Pixel;
    src: url(/font/Pixelon-OGALo.ttf);
}
@font-face {
    font-family: Born2b;
    src: url(/font/Born2bSportyFS.otf);
}
@font-face {
    font-family: Pixeboy;
    src: url(/font/Pixeboy-z8XGD.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(/font/poppins.bold.ttf);
}
@font-face {
    font-family: PoppinsReg;
    src: url(/font/poppins.regular.ttf);
}
@font-face {
    font-family: PoppinsSemBold;
    src: url(/font/poppins.semibold.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a0c10;
}
.opening{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00a6ff;
    z-index: 10;
    animation: opening 10s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    display: flex;
    height: 30px;
    font-size: 1.70vw;
}
nav h1{
    font-family: PoppinsBold;
    font-weight: 600;
    color: #00a6ff;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 5vh;
}
nav ul li {
    gap: 10vh;
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-family: PoppinsReg;
    text-decoration: none;
    border-bottom: 1px solid rgba(245, 245, 220, 0);
    padding: px 0;
}
nav ul li a:hover,nav ul li .Homebt{
    border-bottom: 1px solid #00a6ff;
    color: #00a6ff;
    font-family:PoppinsReg;
    transition: 500ms;
}
nav ul li a:not(:hover){
    transition: 500ms;
}
nav ul li a:active{
    transition: 200ms;
    background-color: #00a6ff;
    padding: 5px;
    border-radius: 15px;
    text-decoration-color: #081b29;
    color: #081b29;
}
.Home{
    padding-top: 100px;
    width: 90%;
    border-radius: 15px;
    height: 80vh;
    background-color: #081b2900;
    /* background: #DAE2F8;  
    background: -webkit-linear-gradient(to bottom, #D6A4A4, #DAE2F8); 
    background: linear-gradient(to bottom, #000513, #000d31);  */
    margin: 0 auto;
    margin-top: 20px;
    padding: min(5em,8%);
    display: flex;
    overflow: auto;
}

.Home .text-content{
    position: relative;
    z-index: 2;
    font-size: 1.60vw;
    gap: 2px;
}
.Home .text-content h2{
    font-weight: 100;
    font-family: PoppinsSemBold;
    color: #ffffff;
}
.Home .text-content h3{
    margin-top: -10px;
    font-family: PoppinsSemBold;
    color: #00a6ff;
}
.Home .text-content p{
    min-width: 40%;
    max-width: 60%;
    font-size: smaller;
    font-family: PoppinsReg;
    color: #ffffff;
}
.Home .text-content .talk{
    font-size: medium;
    text-decoration: none;
    z-index: 1;
    padding: 8px;
    height: 30px;
    width: 70px;
    color: #081b29;
    background-color: #00a6ff;
    border-radius: 30px;
    font-family: PoppinsReg;
}
.Home .text-content .talk:hover{
    transition: 500ms;
    color: #00a6ff;
    background-color: #00a6ff00;
    border: 1px solid #00a6ff;
    box-shadow: 0 0 10px #00a6ff;
}
.Home .text-content .talk:not(:hover){
    transition: 500ms;
}
.Home .text-content .hire{
    z-index: 1;
    font-size: medium;
    text-decoration: none;
    padding: 8px;
    height: 30px;
    width: 70px;
    color: #00a6ff;
    background-color: #00a6ff00;
    border: 1px solid #00a6ff;
    border-radius: 30px;
    font-family: PoppinsReg;
}
.Home .text-content .hire:hover{
    transition: 500ms;
    color: #0a0c10;
    background-color: #00a6ff;
    box-shadow: 0 0 10px #00a6ff;
}
.Home .text-content .hire:not(:hover){
    transition: 500ms;
}
.card-container{
    width: 700px;
    height: 260px;
    display: flex;
    overflow: hidden;
    padding: min(1em,8%);
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.card{
    height: 220px;
    width: 50px;
    background-color: #081b29;
    overflow: hidden;
    border-radius: 15px;
    color: transparent;
}
.card-1{
    background-image:url(/img/Unofficial_JavaScript_logo_2.svg.png) ;
    background-position: center;
    background-size: cover;
    filter: blur(1px) grayscale(1);
}
.card-2{
    background-image:url(/img/images.png) ;
    background-position: center;
    background-size: cover;
    filter: blur(1px) grayscale(1);
}
.card-3{
    background-image:url(/img/CSS3_logo.svg-removebg-preview.png) ;
    background-position: center;
    background-size: cover;
    filter: blur(1px) grayscale(1);
}
.card:hover{
    transition: 1s;
    width: 220px;
    filter: blur(0) grayscale(0);
}
.card:not(:hover){
    transition: 800ms;
}
.soc-container{
    margin-top: 20px;
    
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.soc-container a{
    border-radius: 40px;
    padding: 5px 7px;
    color: #00a6ff;
    border: 1px solid #00a6ff;
}
.soc-container a:hover{
    transition: 1s;
    background-color: #00a6ff;
    color: #0a0c10;
    filter: drop-shadow(0 0 5px  #00a6ff);
}
.soc-container a:not(:hover){
    transition: 1s;
}